# Build outputs
bin/
obj/
[Bb]uild/
[Ll]og/
TestResults/

# Visual Studio / Rider / tooling
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
packages/
*.snupkg
*.nuget.props
*.nuget.targets

# OS junk
.DS_Store
Thumbs.db

# Local settings
*.local.json

# Cache
*.cache/
